@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Spela det här awesoma spelet!
            </p>
        </div>
    </section>
}
<form action="/" method="POST" id="form1">
    <canvas id="boardCanvas" width="600" height="600"></canvas>
    <button type="button" value="Spela!" id="playButton">Spela!</button>
    <ul id="messages"></ul>
</form>

